/* .ffp_box{border-style:solid; border-width:1px; padding:15px; margin-bottom:10px; border-color:rgb(204, 204, 204)} */
/* .fflp_is-link{background-color: #3273dc; color: #FFF;} */
.fflp-overflow{overflow-y:auto;}
.fflp-sm-container{max-width: 600px;}
.fflp-med-container{max-width: 800px;}
.fflp-lg-container{max-width: 1000px;}

.fflp-table-fixed{table-layout:fixed; width:100%;}



/* I'm tring stuff for tiny devices, this could change */

@media only screen
and (max-width : 414px) {
    table.fflp-table-min-mobile{font-size:.7em;}
    table.fflp-table-mobile{font-size:.7em;}
    .fflp-hidden-mobile{display:None;}
}

/* ====================== */
/* Overrides to Bulma CSS */
/* ====================== */
table.small-text{font-size:.85em;}
table.table-border{border-style:solid; border-width:1px; border-color:#DDD}
table{font-size: .9em;}
table.text-3{font-size: 1em;}
table.text-4{font-size: .9em;}
table.text-5{font-size: .8em;}
.section{padding:1.5rem .5rem;}

/* Change navbar dropdown colors */
.navbar-link{background-color:#363636; color:#fff;}
.navbar-dropdown{background-color:#363636;}
.navbar-dropdown>a:hover{background-color:rgb(190, 190, 190); color:#000}
.navbar-item{background-color:#363636; color:#fff;}
.navbar-item>a:hover{background-color:#fff; color:#000;}



/* ----------------------- */
/* Live draft stuff        */
/* ----------------------- */
/*.d-rp-futurepick td{background-color:#FAFAFA;}*/
/* .d-rp-currentpick td{background-color:#fc0;} */
.d-rp-currentpick td{background-color:#ffe266;font-weight:bold}
.d-rp-recentpick td{color:#888;}