/* --------------------- */
/* MAIN SITE STYLING */
/* --------------------- */

body{background-color:#FAFAFA; font-size:.9rem}

/* wraps around the header, footer, and view */
#body-wrap{
	/* background-color:#F0F0F0; */

	margin: auto;
	display:block;
}


/* Just the view, not the header and footer bars */
#view-wrap{}

/* Color for glyph icons */
i{color:#2199e8;}

/* footer bar */
#footer-bar a{color:#FFF;}
#footer-bar{height:40px; margin-top:15px;}

table{font-size:1em;}

/* */
/* --------------------- */
.button{margin-bottom:1px; margin-top:1px;}
.table-condensed td, .table-condensed th{
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	padding-right:5px;

}

.row {max-width: 1200px;}

div.switch{margin:0px;}

td input{margin-bottom:0px !important;}
td select{margin-bottom:0px !important;}

.callout{border-color: #E1E1E1; border-radius:5px}

/* #eaeaea; */

/* --------------------- */
/* MENU BAR STYLING      */
/* --------------------- */

/* both mobile and desktop menu bars, I set 1rem to maintain this size in case I adjust the font size for the entire body*/
#title-bar-row, .top-bar, .top-bar ul, .top-bar li, .title-bar, .small-top-bar, #footer-bar{background-color: #444; font-size:1rem; border-radius:1px;}
.top-bar a{color: #fff;}

#title-bar-row{margin-bottom:30px;}

.live-scores{
	color: #FFF;
	font-size:.7rem;
	text-shadow: 1px 1px 0px red;
}

/* mobile menu bar */
.title-bar {background: #444;height:42px;}
.site-title-small{
	padding-bottom:0px;
	padding-top:0px;
	color:#2199e8;
}
.small-top-bar{height: 42px;}

/* regular desktop menu bar */
.site-title{
	font-size: 1.4em;
	padding-bottom:0px;
	padding-top:0px;
	color:#2199e8;
}
.league-name-title{
	color:#FFF;
	font-size: 1em;
}
.league-name-title-small{
	color:#2199e8;
	font-size:.8em;
}

/* Added a custom media query to hide the site/league titles for smaller screens */
@media screen and (min-width: 0px) and (max-width: 699px) {
  .hide-for-small-custom { display: none; }  /* show it on small screens */
}

/* Added a custom media query to hide things for very small screens */
@media screen and (min-width: 0px) and (max-width: 400px) {
  .hide-for-extra-small { display: none; }  /* show it on small screens */
}

/* --------------------- */
/* CHAT BOX STYLING      */
/* --------------------- */
#chat-title-bar{
	background-color:#2199e8;
	color:#FFF;
	cursor:move;
	font-size:1.5em;
	padding-top:2px;
	height:40px;
}
#chat-close-button{
	color:#FFF;
	float:right;
	padding-right:5px;
	cursor:pointer;
	font-size: 1.3em;
}

#chat-modal{
	padding:0px;
}

@media screen and (min-width: 600px){
	#chat-modal{
		width:300px;
	}
}

#chat-history-table{
	overflow:scroll;
    font-size:.9em;
    height: 250px;

}

#chat-modal{min-width:320px; padding:0px;}

#chat-message{}
#chat-button-small{height:40px;}

.jBox-chat .jBox-content{padding-top:0px !important; padding-left:5px !important; padding-right:5px !important;}
.jBox-chat .jBox-title{text-align: center; font-size:1.2em; background-color: #2199e8; color:#EEE; text-shadow: 0 0 0 ; padding:0;}

.Tooltip-chat{}
/*.Tooltip-chat .jBox-content{background-color:#2199e8; color:#EEE;}
.Tooltip-chat .jBox-pointer:after{background-color:#2199e8;}*/

.Tooltip-chat .jBox-content{border: 2px solid #2199e8;}
.Tooltip-chat .jBox-pointer:after{border: 2px solid #2199e8;}


/* BELOW ARE EXCEPTIONS TO THE DEFAULT STYLES */

/* ----------------------- */
/* Myteam page
/* ----------------------- */

.mt-r-schedule-style{
	font-size:.9em;
}
.mt-r-schedule-style td{
	padding:2px;
}
.mt-ww-page-btn-style{
	width:100px;
}


/* ----------------------- */
/* Live score stuff
/* ----------------------- */

.livescore-font-size{
    font-size:1.1em;
}

.livescore-status{
    color:#337ab7;

}

.livescore-scheduled{
    font-style: italic;

}

.livescore-final{
    color:#BBB;
    font-style: italic;

}
td.player-score{
    font-size:1.4em;
}

.player-score-live{
    font-weight: bold;
    color:#337ab7;
}

.livescore-sleep{

    color:#337ab7;
    font-style: italic;
}

.livescore-detail
{
    font-size: 10px;
    color:#337ab7;
}

.livescore-active
{
    color:#337ab7;
}

.livescore-player-update{
    background-color:#EEEE8D!important;
}

tr.livescore-hide-player{
    display:none;
}

@media only screen and (max-width: 480px)
{
    .livescore-font-size{
        font-size:1em;
    }
}

@media only screen and (min-width: 750px) and (max-width: 991px)
{
    .sm-livescore-status{
        width:45%;
    }
    .livescore-font-size{
        font-size:.9em;
    }
    .livescore-detail
    {
        font-size: 10px;
        color:#337ab7;
    }
}

/* med size*/
@media only screen and (min-width: 992px)
{
    .sm-livescore-status{
        width:58%;
    }
}

/* large size*/
@media only screen and (min-width: 1200px)
{
    .sm-livescore-status{
        width:65%;


    }
}
