/* New CSS 2019, trying to actually come up with useful custom CSS classes */
.f-min-width-medium{min-width: 600px;}
.f-min-width-small{min-width: 400px;}
.f-scrollbar{overflow-y:auto;}
.f-table-fixed{table-layout:fixed; width:100%;}


/* Stuff to make the footer stay at the bottom */
html, body {height: 100%;}
body {display: flex;flex-direction: column;}
.fflp-content {flex: 1 0 auto;}
.fflp-footer {flex-shrink: 0; min-height:30px; padding-top:10px; padding-bottom:10px;}

/* .ffp_box{border-style:solid; border-width:1px; padding:15px; margin-bottom:10px; border-color:rgb(204, 204, 204)} */
/* .fflp_is-link{background-color: #3273dc; color: #FFF;} */
.fflp-overflow{overflow-y:auto;}
.fflp-sm-container{max-width: 600px;}
.fflp-med-container{max-width: 800px;}
.fflp-lg-container{max-width: 1000px;}

.fflp-table-fixed{table-layout:fixed; width:100%;}




/* I'm tring stuff for tiny devices, this could change */

@media only screen
and (max-width : 414px) {
    table.fflp-table-min-mobile{font-size:.7em;}
    table.fflp-table-mobile{font-size:.7em;}
    .fflp-hidden-mobile{display:None;}
}

/* ====================== */
/* Overrides to Bulma CSS */
/* ====================== */
.small-text{font-size:.85em;}
table.small-text{font-size:.85em;}
table.table-border{border-style:solid; border-width:1px; border-color:#DDD}
/*table{font-size: .9em; border-bottom: 2px solid rgb(219,219,219)}*/
table.text-3{font-size: 1em;}
table.text-4{font-size: .9em;}
table.text-5{font-size: .8em;}
/*.section{padding:1.5rem .5rem;}*/

/* Change navbar dropdown colors */
.navbar-link{background-color:#363636; color:#fff;}
a.livescore-link-text:hover{background-color:#363636;}
.navbar-dropdown{background-color:#363636;}
.navbar-dropdown>a:hover{background-color:rgb(190, 190, 190); color:#000}
.navbar-item{background-color:#363636; color:#fff;}
.navbar-item>a:hover{background-color:#fff; color:#000;}



/* ----------------------- */
/* Live draft stuff        */
/* ----------------------- */
/*.d-rp-futurepick td{background-color:#FAFAFA;}*/
/* .d-rp-currentpick td{background-color:#fc0;} */
.d-rp-currentpick td{background-color:#ffe266;font-weight:bold}
.d-rp-recentpick td{color:#888;}


/* ----------------------- */
/* Live scoring stuff      */
/* ----------------------- */
.s-c-playerphoto-img{width:45px; height:45px;}

/* COMPACT VIEW */

/* Make the matchup table look better */
table.ls-matchup-table tr:nth-of-type(even) {background-color: transparent !important;}
table.ls-matchup-table tr{border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
table.ls-matchup-table tr td.ls-c-td-left{padding-left: 2px;}
table.ls-matchup-table tr td.ls-c-td-right{padding-right: 2px;}
table.ls-matchup-table{table-layout: fixed;}

#ls-c-matchup-dots{
	font-size: 1.3em;
	padding:0px;
	margin: 0px;
}
#ls-c-matchup-dots .fi-arrow-left{
	padding-left: 20px;
}

#ls-c-matchup-dots .fi-arrow-right{
	padding-right: 20px;
}

#ls-c-matchup-dots .ls-c-dot{
	padding-left: 2px;
	padding-right: 2px;;
}

.ls-c-dot-hidden{
	color: #CCC;
}

/* td with player/game info */
.ls-c-playerbox{
	font-size: .8em;
	padding-top:1px;
	padding-bottom:1px;
	height: 44px;
	cursor: pointer;
}

/* td that lights up to highlight a players status */
.ls-c-playerlight{
	width: 7px;
	padding: 0px !important;
}
/* tds containing team/player score */
.ls-c-teamscore{width: 35px; padding: 3px; font-size: 1.2em; font-weight: normal;}
.ls-c-playerscore{
	color: #2199e8;
	padding: 2px;
	
}

/* middle td containing positions */
.ls-c-position{
	font-size: .8em;
	background-color: #EEE;
	color: #777;
	padding:0px;
	width: 30px;
}

/* div of yardline / field position */
.ls-c-drivebar{
	height:8px;
	margin-bottom: 3px;
	width: 50%;
}

.ls-c-td-right .ls-c-drivebar{float:right;}

/* Text on drive bar, usually yard line */
.ls-c-drivebar-text{
	font-size: 8px;
	color: white;
}


/* text of current game status */
.ls-c-gamestatus{
	font-size: .8em;
}

.ls-s-nflgameactive{
	background-color: #fffce5;
	height: 50px;
	/*vertical-align: top;*/
}

.ls-s-nflgameinactive{
	background-color: transparent;
	color: #AAA;
}

.ls-s-nflgameactive .ls-s-nflgame-lastplay{
	overflow-y: auto;
	font-size:.8em;
	height: 49px;
}

.ls-s-nflgame{
	font-size:.85em;
}

.ls-s-drivebar{
	margin-bottom:0px;
}

.ls-s-drivebar-text{
}

.ls-s-nflgame-offense{
	font-weight:bold;
}

.ls-s-row>.columns{
	padding-left:10px;
	padding-right:10px;
}

.ls-playeractive{
	background-color: #faf3c1;
}
.ls-playerinactive{
	background-color: #EEE;
}
.ls-playeractive.ls-c-playerlight{
	background-color: #fae336;
}
.ls-playerinactive.ls-c-playerlight{
	background-color: #777;
}
.ls-playerevent{
	background-color: #ffed66;
	font-weight: bold;
}

.ls-gameinactive{
	background-color: transparent;
	color: #CCC;
	
}

.ls-gameinactivefinal, .ls-s-nflgameinactivefinal{
	background-color: transparent;
	color: #757575;
	font-style: italic;
}

.ls-c-playerphoto-box{
	width: 60px;
	text-align: center;
	vertical-align: middle;
	padding: 4px;
}

.ls-c-playerphoto-img{
	max-width: 50px;
	vertical-align: center;
}

.ls-s-matchup-score{
	cursor:pointer;
}

.ls-s-matchup-selected{
    border-color: #2199e8 !important;
    border-style: solid;
    border-width: 1px;
}

.ls-s-nflgame-clock{
	font-size:.9em;
}