.livescore-font-size{
    font-size:1.1em;
}

.livescore-status{
    color:#337ab7;

}

.livescore-scheduled{
    font-style: italic;

}

.livescore-final{
    color:#BBB;
    font-style: italic;

}
td.player-score{
    font-size:1.4em;
}

.player-score-live{
    font-weight: bold;
    color:#337ab7;
}

.livescore-sleep{

    color:#337ab7;
    font-style: italic;
}

.livescore-detail
{
    font-size: 10px;
    color:#337ab7;
}

.livescore-active
{
    color:#337ab7;
}

.livescore-player-update{
    background-color:#EEEE8D!important;
}

tr.livescore-hide-player{
    display:none;
}

@media only screen and (max-width: 480px)
{
    .livescore-font-size{
        font-size:1em;
    }
}

@media only screen and (min-width: 750px) and (max-width: 991px)
{
    .sm-livescore-status{
        width:45%;
    }
    .livescore-font-size{
        font-size:.9em;
    }
    .livescore-detail
    {
        font-size: 10px;
        color:#337ab7;
    }
}

/* med size*/
@media only screen and (min-width: 992px)
{
    .sm-livescore-status{
        width:58%;
    }
}

/* large size*/
@media only screen and (min-width: 1200px)
{
    .sm-livescore-status{
        width:65%;


    }
}
