
#navbar-custom.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}
#navbar-custom.navbar-default {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border-width: 1px;
    border-radius: 0px;
}
#navbar-custom.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}
#navbar-custom.navbar-default .navbar-nav>li>a:hover,
#navbar-custom.navbar-default .navbar-nav>li>a:focus, .dropdown-menu>li>a:hover {
    color: rgba(255, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}
#navbar-custom.navbar-default .navbar-nav>.active>a,
#navbar-custom.navbar-default .navbar-nav>.active>a:hover,
#navbar-custom.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}
#navbar-custom.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#navbar-custom.navbar-default .navbar-toggle:hover,
#navbar-custom.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#navbar-custom.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;

}
#navbar-custom.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-custom.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: rgba(255, 0, 0, 1);

}

#navbar-custom.navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    color:#ffffff;
    font-size: 20px;
}

@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      background-color: #ffffff;
      color:#000000;
      font-size: 20px;
  }
}