pre{
    font-size: 12px;
    text-align: left;
}

#wide_block{
    display: inline-block;
    width: 74%;
    vertical-align: top;
}

#narrow_block{
    display: inline-block;   
    width: 25%;
    vertical-align: top;
}

table{
    margin: auto;
    background-color: #EBF3EC;
}

td{
  min-width: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

th{
  min-width: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: #000;
  border-bottom-style: double;
}

#chat_block{
    
}

#commish{
    
}

#next_game{
    
}

#stats{
    
}

#moves{
    
}

#money_list{
    
}

td.num{
    text-align: right;
}

table{
    font-size: 14px;
}

td{
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.one_item{
    background-color: blanchedalmond;
    margin: 5px;
    padding: 3px;
}

.two_items{
    background-color: blanchedalmond;
    text-align: center;
    margin: 4px;
    padding: 2px;
}

.item_1-of-2{
    display: inline-block; 
    vertical-align: top;
    width: 49%;
    background-color: blanchedalmond;
    text-align: left;
    
}

.item_title{
    font-size: 20px;
    padding-bottom: 5px;
}