/* wraps everything: header, body, footer */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
#main_wrap{
  max-width: 1000px;
  margin: auto;
  background-color: #D0D0D0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: 'Open Sans', Helvetica, sans-serif; */
   /* font-family: sans-serif; */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 16px;
}
#body_wrap{
    background-color: #ffffff;
    width: 98%;
    margin: auto;
    display: block;
    padding: 2px;
    text-align: center;
}

.block_colors{
    background-color: #D0D0D0;
    text-align: left;
    padding: 1px;
}

table{
    margin: auto;
    background-color: #EBF3EC;
}

td{
  min-width: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

th{
  min-width: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: #000;
  border-bottom-style: double;
}